# temporary files/junk #
########################
*~
.DS_Store
*.asv

# other matlab packages #
#########################
bento/loading data/ca_source_extraction/*
bento/loading data/piotr_toolbox/*

# debugging #
#############
bento/gui_test/*

# MARS stuff #
##############
*.pyc

# user-specific settings #
##########################
bento/annotations/color_profiles.txt
